body{
  background: #F5F5F5;
  min-height: 100%;
  margin: 0;
  }
h1{
  font-family: 'Biryani', sans-serif;
  }
p{
  font-family: 'Biryani', sans-serif;
  display:inline-block;
  padding:20px;
  }
.photos{
  float: left;
  }
nav{
  display: inline-block;
  height: 100vh;
  width: 60px;
  position: fixed;
  background-color: #fff;
  }
.nav-logo{
  width: 100%;
  margin-bottom: 200px;
  }
.intro{
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  height: 90px;
  }
.nav-icon{
  width: 100%;
  }
nav ul{
  padding: 0px;
  }
nav ul li{
  list-style-type: none;
  }
.mainContainer{
  display: inline-block;
  min-height: 100vh;
  margin-left: 60px;
  width: 100%;
  padding: 20px;
  }
.close-button{
  width: 10px;
  height:10px;
  float:right;
  display:inline;
  padding:20px;
  }
.column1{
  display: inline-block;
  width: 40%;
  float:left
  }
.item-align{
  display:inline;
  }
.account span{
  width:100%;
  }
.actHDR{
  display:inline;
  font-family: 'Biryani', sans-serif;
  }
.topBoxes{
  overflow: auto;
  }
.account-icon{
  width:34px;
  height:34px;
  }
.account-box{
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  width:100%;
  margin-top: 15px;
  }
img.account-box{
  text-align:left
  }
p.accounts{text-align:center;
  padding-left: 120px;
  }
.acct-type{
  width:130px;
  float:right;
  margin-top: 17px;
  margin-right: 38px;
  font-family: 'Biryani', sans-serif;
  text-align: right;
  }
.budget{
  height: 100px;
  width: 30%;
  background-color: white;
  margin-right: 5%;
  margin-top:20px;
  float: left;
  box-sizing: border-box;
  padding: 12px;
  margin-bottom: 40px;
  }
.budget:last-child{
  margin-right: 0px;
  }
.column2{
  display: inline-block;
  float: left;
  width: 50%;
  height: 400px;
  background-color: white;
  padding:20px;
  margin-top: 19px;
  margin-left: 70px;
  }
  h2{
  display: inline;
  font-family: 'Biryani', sans-serif;
  }
.primary-button{
  display:inline;
  float: right;
  background-color: #1CA3BA;
  height:28px;
  border-radius: 25px;
  color: white;
  }
.transactions{
   border-collapse: collapse;
   width: 100%;
  }
.transactions tr{
  border-bottom: 2px solid #CCCCCC;
  font-family: 'Biryani', sans-serif;
  }
.transactions th{
  text-align: left;
  }
