body{
  background: #F5F5F5;
  min-height: 100%;
  margin: 0;
  }
h1{
  font-family: 'Biryani', sans-serif;
  }
p{
  font-family: 'Biryani', sans-serif;
  display:inline-block;
  padding:20px;
  }
.photos{
  float: left;
  }
nav{
  display: inline-block;
  height: 100vh;
  width: 60px;
  position: fixed;
  background-color: #fff;
  }
.nav-button-selected{
    border-left:4px solid #1CA3BA;
}

.nav-logo{
  width: 100%;
  margin-bottom: 200px;
  }
.intro{
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  height: 90px;
  }
.nav-icon{
  width: 60%;
  margin-left: 10%;
  margin-top: 10%
  }
nav ul{
  padding: 0px;
  }
nav ul li{
  list-style-type: none;
  }
.mainContainer{
  display: inline-block;
  min-height: 100vh;
  margin-left: 60px;
  width: 100%;
  padding: 20px;
  }
.close-button{
  width: 10px;
  height:10px;
  float:right;
  display:inline;
  padding:20px;
  }
.column1{
  display: inline-block;
  width: 40%;
  float:left
  }
.item-align{
  display:inline;
  }
.account span{
  width:100%;
  }
.actHDR{
  display:inline;
  font-family: 'Biryani', sans-serif;
  }
.topBoxes{
  overflow: auto;
  }
p.acct-details{
margin: 0%;
padding: 10px;
}
.account-icon{
  width:34px;
  height:34px;
  }
.account-box{
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  width:100%;
  margin-top: 15px;
  border-radius: 5px;

  }
img.account-box{
  text-align:left
  }
p.accounts{text-align:center;
  padding-left: 120px;
  }
.acct-type{
  width:130px;
  float:right;
  margin-top: 17px;
  margin-right: 38px;
  font-family: 'Biryani', sans-serif;
  text-align: right;
  }
.budget{
  height: 100%;
  width: 30%;
  background-color: white;
  margin-right: 5%;
  margin-top:20px;
  float: left;
  box-sizing: border-box;
  padding: 12px;
  margin-bottom: 40px;
  border-radius: 5px;

  }
.budget:last-child{
  margin-right: 0px;
  }
.column2{
  display: inline-block;
  float: left;
  width: 50%;
  height: 400px;
  background-color: white;
  padding:20px;
  margin-top: 19px;
  margin-left: 70px;
  border-radius: 5px;

  }
  h2{
  display: inline;
  font-family: 'Biryani', sans-serif;
  }
.primary-button{
  display:inline;
  float: right;
  background-color: #1CA3BA;
  height:28px;
  border-radius: 25px;
  color: white;
  width:30%;
  }
.global-table{
   border-collapse: collapse;
   width: 100%;
  }
.global-table tr{
  border-bottom: 2px solid #CCCCCC;
  font-family: 'Biryani', sans-serif;
  }
.global-table th{
  text-align: left;
  }

/* Transactions page styling below */
.maincontainer-transactions{
min-height: 100vh
}
.transactions-table{
  background-color:white;
}
.transactions-container-left{
  display: inline-block;
  height: 500px;
  background-color: white;
  width: 40%;
  vertical-align: top;
  margin-right: 8%;
  padding-left: 2%;
  padding-right: 2%;
}
#transactions-page-header{
  display:inline;
}
#transactions-box-header{
  text-align: center;
  font-size: 130%;
  width: 100%;
  padding: 0%;
  margin-bottom: 1%;
}
.transaction-form-top-buttons{
  width: 90px;
  height: 25px;
  border-radius: 10px;
}
#transaction-page-top-buttons{
        margin-left: 10%;
}
#transaction-page-button-margin{
  margin-left: 10%;
}
#onload-transactions-button{
  background-color: #1CA3BA;
  color:white;
}
#inflow-transactions-button{
  background-color: white;
  color:#1CA3BA;
}
#outflow-transactions-button{
  background-color: white;
  color:#1CA3BA;
}



.transactions-container-right{
  display: inline-block;
  height: 430px;
  width: 35%;
  background-color: white;
  vertical-align: top;

}
.new-transaction-form input{
  display: block;
  padding: 0%;
  margin: 0 auto;
  width: 40%;


}
.new-transaction-form select{
  display: block;
  padding: 0%;
  margin: 0 auto;
  width: 40%;
  background-color: #F5F5F5;
}

.new-transaction-form p{
  display: block;
  padding: 0%;
  margin: 0 auto;
  width: 40%;
  font-size: 12px;
}
.new-transaction-form button{
  display: block;
  margin-left: 30%;
  margin-top: 1%;
  border-radius: 10px;
  width: 20%;
  height: 25px;
  background-color: #1CA3BA;
  color: white;
}
